# Dependencies
**/node_modules
**/__pycache__
/apps/api/.venv

# Build outputs
/apps/web/.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store
.env

# Jules scratch
jules-scratch
